@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model RmaManager.ViewModels.RmaViewModel

<h1> List of RMA's </h1>

<h4>@Model.JsonObj</h4>
<table>
@foreach(var rma in Model.Rmas)
{
	<tr><td> @rma.RmaNumber </td></tr>
}
</table>

@section PageScripts {}