@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using RmaManager.ViewModels
@model IEnumerable<RmaViewModel>

<h1> List of RMA's </h1>

<table>
@foreach(var rma in Model)
{
	<tr><td> @rma.RmaNumber </td></tr>
}
</table>

@section PageScripts {}